azure-ai-documentintelligence
azure-ai-formrecognizer
azure-common
azure-core
blinker
certifi
charset-normalizer
click
colorama
idna
isodate
itsdangerous
Jinja2
MarkupSafe
msrest
numpy
oauthlib
pandas
python-dateutil
python-dotenv
pytz
requests
requests-oauthlib
six
typing_extensions
tzdata
urllib3
Werkzeug
XlsxWriter
opencv-python
deepface
uvicorn
tf-keras
mediapipe
moviepy
openai-whisper
cryptography
python-Levenshtein
fastapi
uvicorn
python-multipart